<!--ons-page ng-controller="startControll" ng-init="Init()" class="valign-wrapper"-->

  <!--ons-toolbar>
    <div class="center">Лови Газель - cервис грузоперевозок </div>
  </ons-toolbar-->
<div ng-if="isReady && !isReady()" class="valign-wrapper">
  <div class="start" style="background:url(https://lovigazel.ru/i/logo/lovigazel1.png) no-repeat center top;">
      <h1>Лови Газель</h1>

      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-teal-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>

  </div>
</div>
  <!--ons-progress-bar  indeterminate></ons-progress-bar-->
  
  <!--div class="valign-wrapper000">
    <!--div class="valign000 center000 center-align00"--->
    <!--img ng-if000="!isReady()" class="center" src="https://lovigazel.ru/i/logo/lovigazel.png"-->
    
  <!--/div-->
  <!--ons-progress-circular indeterminate class="center"></ons-progress-circular-->
  
   <!--div class="progress"><div class="indeterminate"></div></div-->

<!--/ons-page-->