
@@@ progress/load

<div class="start" style="background:url(https://lovigazel.ru/i/logo/lovigazel1.png) no-repeat center top;">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-teal-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>

</div>

@@@ progress/save

<div class="start" style="background:url(https://lovigazel.ru/i/logo/lovigazel1.png) no-repeat center top;">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-teal-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>

</div>

@@@ progress/search

<div class="start" style="background:url(https://lovigazel.ru/i/logo/lovigazel1.png) no-repeat center top;">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-teal-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>

</div>