
@@@ page/transport/list.html

<ons-page ng-controller="TransportListControll as ctrl" ng-init=" ctrl.Init() ">

  <app-toolbar ng-if="ctrl.ready" data-title="toolbarTitle">
  </app-toolbar>

<!--div ng-hide="ctrl.ready" ng-include=" 'progress/load' "></div-->
<main ng-if="ctrl.ready" class="">
  
  <transport-list data-param="param" on-open-transport-callback="ctrl.OpenTransport" ></transport-list>
  
  <ons-fab position="bottom right" ng-click="ctrl.NewTransport()">
    <i class="material-icons" style="font-size: 4rem;">add</i>
  </ons-fab>
  
</main>

</ons-page>